<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">

                <f:cObject typoscriptObjectPath="lib.record"/>
                <div class="ftco-footer-widget mb-4">

                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Inspiration</a></li>
                        <li><a href="#">
                            <f:translate key="LLL:EXT:plantbased/Resources/Private/Language/locallang.xlf:projects"/>
                        </a></li>
                        <li><a href="#">Workshops</a></li>
                        <li><a href="#">
                            <f:translate key="LLL:EXT:plantbased/Resources/Private/Language/locallang.xlf:contact"/>
                        </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Service</h2>
                    <ul class="list-unstyled">
                        <li>Workshops</li>
                        <li>
                            <f:translate key="LLL:EXT:plantbased/Resources/Private/Language/locallang.xlf:info"/>
                        </li>
                        <li><f:translate key="LLL:EXT:plantbased/Resources/Private/Language/locallang.xlf:projects"/></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">
                        <f:translate key="LLL:EXT:plantbased/Resources/Private/Language/locallang.xlf:question"/>
                    </h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">
                                <f:translate key="LLL:EXT:plantbased/Resources/Private/Language/locallang.xlf:address"/>
                            </span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">+43 630 3457832</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">plantbased@office.at</span></a></li>
                        </ul>
                        <f:if condition="{languageNavigation}">
                                <f:for each="{languageNavigation}" as="item">
                                    <span class="{f:if(condition: item.active, then: 'active')}{f:if(condition: item.available, else: 'text-muted')}">
                                        <f:if condition="{item.available}">
                                            <f:then>
                                                <a href="{item.link}" hreflang="{item.hreflang}" title="{item.navigationTitle}">
                                                    <span>{item.navigationTitle}</span>
                                                </a>
                                                <span>|</span>
                                            </f:then>
                                            <f:else>
                                                <span>{item.navigationTitle}</span>
                                            </f:else>
                                        </f:if>
                                    </span>
                                </f:for>
                        </f:if>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>


