<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Header">
    <f:if condition="{gallery.position.noWrap} != 1">
    <f:if condition="{data.layout} < 10">
        <f:render partial="Header/All" arguments="{_all}" />
    </f:if>
    </f:if>
</f:section>


<f:section name="Main">
    <f:switch expression="{data.layout}">
        <f:case value="13">
            <f:render partial="Textmedia/TextHeader" arguments="{_all}"/>
        </f:case>
        <f:defaultCase>
            <f:format.html>{data.bodytext}</f:format.html>
        </f:defaultCase>
    </f:switch>

</f:section>
</html>
